<!--Nav Bar-->
<div class="sticky">
    <div class="header">
        <div class="logo">
            <a href="https://fsci.in/"><img src='{{"img/fscilogoheader.svg" | absURL }}' alt="fsci" /></a>
            <h2>{{i18n "fsci-acronym"}}</h2>
        </div>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn" style="align-items:center;">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="menu">
            <a href="{{"/" | relLangURL }}">{{ i18n "home" }}</a>
            <!-- <a href='{{"about" | absURL}}'>About</a> -->
            <a onclick="document.querySelectorAll('.fa-times')[0].click()" href='{{"#poddery" | relLangURL }}'>{{ i18n "services" }}</a>
            <a onclick="document.querySelectorAll('.fa-times')[0].click()" href='{{ "code-of-conduct" | relLangURL }}'> {{ i18n "coc" }} </a>
            <a href='{{"blog" | relLangURL}}'>{{ i18n "blog" }}</a>
            <a href='{{"contact" | relLangURL}}'>{{ i18n "contact" }}</a>
            <a href='{{"blog/index.xml" | relLangURL}}'><span class="fas fa-rss"></span></a>
            <!--Available Languages menu-->
            {{ if .IsTranslated }}
              <select class="" name="">
                {{ range .Translations }}
                <option onclick='window.location.href = {{ .Permalink }}' value="{{ .Language.Lang }}">{{ .Language.Lang }}</option>
                {{ end }}
              </select>
            {{ end }}
            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
            </label>
        </ul>
    </div>
</div>
